php_flag register_globals Off
AddDefaultCharset utf-8
php_value date.timezone Europe/Kiev
DirectoryIndex index.php


Options All -Indexes
RewriteEngine On
RewriteBase /


# without www
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} ^www.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]


# without index.php
RewriteRule ^index\.(php|html) http://%{HTTP_HOST}/ [R=301,L]